.item2 {
    display: flex;
    flex-direction: column; 
    width: 200px;
}

.nav-items {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    list-style-type: none;
    padding-bottom: 100px;
}

.nav-items li {
    margin: 150px 0; /* Space out the items vertically */
}

.item3 p {
    color: #c55a02;
    margin: 15px;
    padding: 10px;
    font-size: 0.8em;
}

.item3 li {
    margin: 0px 0;
    font-size: 1.3em;
    color: #840000;
}